@font-face {
  font-display: swap;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/NunitoSans10pt-Regular.woff2");
}
@font-face {
  font-display: swap;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/NunitoSans10pt-Medium.woff2");
}
