<div class="mt2 content">
  <div *ngIf="!linkService.isLoggedIn">
    <form [formGroup]="userIdForm" (ngSubmit)="auth($event)">
      <input type="text" placeholder="Ваш UUID" class="input" formControlName="userId" id="userId">
      <button type="submit" class="btn">Войти</button>
    </form>
  </div>
  <div *ngIf="linkService.isLoggedIn" class="mb2">
    Вы вошли под аккаунтом: {{ linkService.userId }}
    <div class="mt1">
      <button class="btn" type="button" (click)="logout()">Выйти</button>
    </div>
  </div>
  <h1 class="mb1">Создать короткую ссылку</h1>
  <div>
    <form [formGroup]="createLinkForm" (ngSubmit)="createLink($event)">
      <input type="text" id="link" placeholder="Вставьте ссылку для сокращения" class="input" formControlName="link">
      <input type="datetime-local" formControlName="expired" class="input">
      <input type="number" formControlName="limit" class="input" placeholder="Количество переходов (оставьте пустым в случае отсутствия)">
      <button class="btn" type="submit">Создать</button>
    </form>
  </div>
  <div *ngIf="linkService.isLoggedIn">
    <h1 class="mt2">Ваши ссылки</h1>
    <div *ngFor="let link of links$ | async" class="link">
      <div class="mb1"><a [routerLink]=link.shortLink class="short-link">{{ redirectUrl + link.shortLink }}</a></div>
      <div><a [href]=link.link>{{link.link}}</a></div>
      <div>Действительна до {{ link.expired }}</div>
      <div>Количество переходов {{ link.used }}</div>
      <div *ngIf="link.limit">Лимит {{ link.limit }}</div>
      <button type="button" (click)="deleteLink(link)" class="btn">Удалить</button>
    </div>
  </div>
</div>
